<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:aapt="http://schemas.android.com/aapt"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jkhana"
    platformBuildVersionCode="28"
    platformBuildVersionName="9"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    android:versionCode="1"
    android:versionName="0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="POOL"
        android:largeHeap="true"
        tools:replace="android:label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:testOnly="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CartNotEmpty"/>
        <activity android:name=".Login_activity" />
        <activity android:name=".Signup_activity" />
        <activity android:name=".LoginPage" />
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Fruits" />
        <activity android:name=".Liqueurs" />
        <activity android:name=".Dinner" />
        <activity android:name=".Nonveg" />
        <activity android:name=".Lunch" />
        <activity android:name=".fastfood.Food" />
        <activity android:name=".Groceries.Groceries" />
        <activity
            android:name=".MainActivity"
            android:label="PooL" />

        <provider
            android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"
            android:authorities="com.example.jkhana.lifecycle-process"
            android:exported="false"
            android:multiprocess="true" />
    </application>

</manifest>